#university-name {
    text-align: left;
}

.well {
    background-color: transparent;
    border: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}


.content-wrapper {
    min-height: 3500px !important; 
}


/*
li {
    display: none !important;
}

li.active {
    display: block !important;
}
*/

.content-wrapper, .right-side{
    display:block;
    overflow:auto;
}

#initialmenu {
    padding: 30px 15px 30px 15px;
}

#demo {
    margin: 12px 12px 12px 12px;
}

.btn {
    margin: 12px 12px 12px 12px;
}

.btn-file{
    margin: 0 0 0 0;
}

#loadmessage {
    position: relative;
}

/*
.treeview-menu{
    display: none;
}

.menu-open{
    display: block !important;

}
*/